[Unit]
Description=SJ Complex/Renter Service
After=network.target
Requires=

[Service]
Type=simple
Environment=PATH=/sbin:/usr/sbin:/usr/local/sbin:/root/bin:/usr/local/bin:/usr/bin:/bin:/usr/games:/usr/lib/mit/bin:/usr/local/nodejs/bin:/root/.nvm/versions/node/v4.5.0/bin/
WorkingDirectory=/root/storj/sj-complex
ExecStart=/root/storj/sj-complex/bin/storj-complex.js -c multi-config.json
ExecReload=
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

